.page-sub-title {
  font-size: 18px;
  padding: 10px 35px;
}
.wrap {
  margin: 30px;
}
.MuiTableSortLabel-root:hover,
.MuiTableSortLabel-active {
  color: #fff !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
  .MuiTableSortLabel-icon {
  color: rgba(255, 255, 255, 0.5) !important;
}
