.page-sub-title {
  font-size: 18px;
  padding: 10px 35px;
}

.all-project-wrap {
  margin: 20px 0px;
}

.all-project-wrap .MTableToolbar-root-13 {
  display: none;
}

.select-label-width {
  width: 300px !important;
}
