.field-width {
  max-width: 250px;
}
.MuiFormControl-root {
  width: 100% !important;
}
.MuiFormControlLabel-root {
  min-width: 24% !important;
}
.label-to-row {
  flex-direction: row !important;
}
.add-attribute-btn {
  padding: 0 10px;
}
.MuiFormControlLabel-root {
  margin: 8px 0;
}
.MuiFormControl-root {
  margin: 8px 0 !important;
}
.text-box {
  order: 3;
  width: 100px !important;
  margin: 0 30px !important;
}
.comment-box {
  order: 4;
  width: 60% !important;
}
.MuiFormControlLabel-label {
  flex-grow: 1;
}
