.field-width {
  max-width: 250px;
}
.MuiFormControl-root {
  width: 100% !important;
}
.MuiFormControlLabel-root {
  min-width: 24% !important;
}
.label-to-row {
  flex-direction: row !important;
}
.add-attribute-btn {
  padding: 0 10px;
}
.text-box {
  order: 3;
  width: 100px !important;
  margin-left: 200px;
}
