.field-width {
  max-width: 350px;
}
.MuiFormControl-root {
  width: 100% !important;
}

.label-to-row {
  flex-direction: row !important;
}
.add-attribute-btn {
  padding: 0 10px;
}
.MuiFormControlLabel-root {
  margin: 8px 0;
}
.MuiFormControl-root {
  margin: 8px 0 !important;
}
.text-box {
  order: 3;
  width: 100px !important;
  margin: 0 20px !important;
}
.comment-box {
  order: 4;
  width: 60% !important;
}
label.MuiFormControlLabel-root {
  flex-grow: 1;
  flex-basis: 200px;
}
.MuiFormGroup-root {
  width: 100%;
}
.cal-attribute div {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
