.field-width {
  max-width: 220px;
}
.MuiFormControl-root {
  width: 100% !important;
}
.MuiFormControlLabel-root {
  min-width: 24% !important;
}
.MuiFormGroup-root {
  flex-direction: row !important;
}
