.userFourmRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userRoles {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  text-align: center;
}
.roleName {
  flex-basis: 84.5px;
  font-size: 12px;
}

.centerRadio {
  justify-content: center;
  margin: 0 !important;
}
.lableName {
  display: flex;
  align-items: center;
}
