.breadcrumb-wrp {
  padding: 5px 15px;
  background: #ebf1eb;
  margin-top: 55px;
}
.item-icon {
  margin-right: 5px;
}
.breadcrumb-item {
  line-height: 30px;
}

.MuiBreadcrumbs-li .MuiLink-root {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.MuiBreadcrumbs-li .MuiLink-root svg {
  font-size: 21px;
}
a {
  text-decoration: none;
}
a:visited,
a:hover {
  text-decoration: none !important;
}
