.topnav-wrp{
    height: 40px;
    padding: 5px 15px;
    background-color: #3d82f7;
    color: #fff;
    display: flex;
    align-items: center;
}
.env-title {
    font-size: 11px;
    color: #42ea23f7;
}
.es-topnav .es-toolbar {
    min-height: 55px;
}
.user-name {
    font-size: 12px;
}