@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f7fb;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.h-100 {
  height: 100%;
}
.full-width {
  width: 100%;
}
p {
  margin: 0;
}
.no-rl-margin {
  margin: 10px 0 !important;
}

a:visited,
a:hover {
  text-decoration: none !important;
}

.multi-button-grid {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.multi-button-grid Button {
  margin: 10px 10px;
}
