<mat-nav-list>
     <a routerLink="estimations">
          <mat-list-item class="link-item">
               <mat-icon matListIcon>home</mat-icon>
               <h3 matLine>Estimations</h3>
          </mat-list-item>
     </a>
     <a routerLink="clients">
          <mat-list-item class="link-item">
               <mat-icon matListIcon>account_box</mat-icon>
               <h3 matLine>Clients</h3>
          </mat-list-item>
     </a>
     <a routerLink="projects">
          <mat-list-item class="link-item">
               <mat-icon matListIcon>folder</mat-icon>
               <h3 matLine>Projects</h3>
          </mat-list-item>
     </a>
     <mat-nav-list>