.border-container {
  margin: 10px;
  padding: 20px;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 14px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
}
.no-shadow {
  box-shadow: none;
}
