.h-100 {
  height: 100%;
  margin: 0;
}
.login-wrp {
  background-image: url(./img/login-page-bg.png);
  background-size: cover;
}
@media (max-width: 960px) {
  .login-wrp {
    background-image: none;
    background-color: #1d1761;
  }
}

.login-title {
  font-size: 20px;
}
.login-widget_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-widget {
  width: 300px;
  width: calc(60%);
  padding: 10% 20px !important;
}
.bg-img {
  height: 100%;
}
.bg-mask {
  height: 100%;
  width: 100%;
}
/* .promo-box {
    padding: 22%;
    background: #ffffff54;
  }
  .promo-box .title {
    font-size: 20px;
  } */
.env {
  font-size: 10px;
  margin: 0;
}
.env .env-title {
  font-size: 12px;
}
.promo-box .sub-title {
  font-size: 16px;
}
.login-wrp .MuiFormControl-root {
  display: block;
}
.login-wrp .email-controller {
  margin: 20px 0;
}
.w-100 {
  width: 100%;
}
.error-message-wrp {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  line-height: 0;
  font-size: 12px;
  text-align: center;
  color: red;
  padding: 0;
  margin: 0;
}
.env {
  position: fixed;
  top: 15px;
  right: 15px;
}
