.estimation-detail-button {
  margin: 15px 0;
}
.estimation-detail-box {
  display: flex;
  justify-content: flex-end;
}

.estimation-detail-cover {
  position: relative;
}
.estimation-detail-button-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}
.estimation-detail-count-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #1d1761;
  background: #fff;
}

.estimation-detail-count-button > img {
  width: 35px;
  height: 35px;
}

.estimation-detail-count-table {
  z-index: 100;
  position: fixed;
  bottom: 130px;
  right: 50px;
  width: 60%;
}
.close-resourceCountTable {
  animation: boxClose 0.2s linear forwards;
}

@keyframes boxClose {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    bottom: -100px;
    right: -400px;
  }
}
.open {
  animation: boxOpen 0.2s linear forwards;
}

@keyframes boxOpen {
  0% {
    transform: scale(0);
    bottom: -100px;
    right: -400px;
  }
  100% {
    transform: scale(1);
  }
}

.resource-cont-costing {
  margin: 20px;
}
.inline-cost {
  display: inline;
  margin-right: 40px;
}
.count-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.roleCountInputParent {
  position: relative;
}

.roleCountInput {
  position: relative;
  width: 300px;
  display: flex;
}
